.exchange-app {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exchange_head{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.exchange-text{
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.list_titles{
  width: 95%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  border-bottom: solid grey 1px;
}


.list_container{
  width: 95%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.list_logo{
  width:8%;
  height: 4%;
  text-align: center;
}

.list_name{
  width: 20%;
  text-align: center;
}

.list_country{
  width: 20%;
  text-align: center;
}

.list_url{
  width: 35%;
  text-align: center;
}

.list_rank{
  text-align:center;
}

.exchange_bag{
  display:flex;
  width: 95%;
  flex-direction: column; 
  align-items: flex-start;
}